@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');

:root {
    --primary-color: #343434;
    --secondary-color: #3f3f3f;
    --button-color: #2a68ba;
}

* {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-decoration: none;
}

html {
    min-height: 100%;
}

body {
    margin: 0px;
    background: rgb(64, 115, 255);
    background:  linear-gradient(137deg, rgba(64, 115, 255, 1) 0%, rgba(0, 162, 60, 1) 100%);
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li .logo {
    width: 7vw;
}

nav ul li a {
    font-size: 5vmin;
}

nav .subtext {
    margin: 3px;
    padding: 1vh;
    text-align: center;
    background-color: var(--secondary-color);
}

nav .subtext p {
    margin: 0px;
}

.main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.8fr));
    gap: 1rem;
}

.card {
    margin: 5px auto;
    padding: 2rem;
    min-width: 100px;
    max-width: 400px;
    min-height: 450px;
    max-height: 500px;
    display: inline;
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
}

.card .card-icon {
    font-size: 5vw;
    margin-top: 10px;
}

.card .card-name {
    font-size: 3.5vw;
}

.card .view-button {
    padding: 10px 20px;
    background-color: var(--button-color);
    border-radius: 10px;
}

.card .disabled {
    background-color: var(--secondary-color);
    color: grey;
}

.card .disabled i {
    color: grey;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: 20px;
}