/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');*/

* {
    color: white;
    text-align: center;
}

body {
    background-color: #111;
    margin: 0;
}

p {
    text-align: center;
}

div , .nav-bar , .title , .lasted{
  border: white solid 0.5px;
}

button {
    border: none;
}

a {
    text-decoration: none;
    font-family: Courier New;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  border-right:1px solid #bbb;
  float: left;
}

li:last-child {
    border-right: none;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.nav-bar {
    background-color: black;
}

.title {
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #050505;
    display: block;
    margin: 0;
    padding: 8px;
}

.description {
  background-color: #080808;
  margin: 0;
  padding: 3px;
}

.active {
    background-color: #4CAF50;
  }

.tank-you {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.lasted {
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align: center;
  background-color: #080808;
}

.lasted:hover {
  background-color: #4CAF50;
}

.lasted-beta {
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align: center;
}

.lasted-beta:hover {
  background-color: teal;
}

.lasted-text {
  text-align: center;
}

.lasted-alpha:hover {
  background-color: gray;
}

.context-menu {
  position: absolute;
  /*text-align: center;*/
  background: lightgray;
  border: 1px solid white;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
  overflow:hidden
}

.context-menu ul li {
  padding-bottom: 7px;
  padding-top: 7px;
  border: 1px solid black;
  float:none
}

.context-menu ul li a {
  text-decoration: none;
  color: black;
}

.context-menu ul li:hover {
  background: darkgray;
}

.nav-button {
  background-color: #080808;
}

.context-menu-button {
  background: none;
}